#include "crosses.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/* Default keymap transform */
&default_transform {
    col-offset = <6>;
};

/* Key matrix */
&kscan0 {
    col-gpios = 
        <&gpio0 9 GPIO_ACTIVE_HIGH>,
        <&gpio0 10 GPIO_ACTIVE_HIGH>,
        <&gpio1 11 GPIO_ACTIVE_HIGH>,
        <&gpio1 13 GPIO_ACTIVE_HIGH>,
        <&gpio1 15 GPIO_ACTIVE_HIGH>,
        <&gpio0 2 GPIO_ACTIVE_HIGH>;

    row-gpios = 
        <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio1 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
        <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
};

/* Enable the Glidepoint input listener */
&glidepoint_listener {
    status = "okay";
};

/* Right-half peripheral configuration */
/{
    chosen {
        zmk,split-role = "peripheral";
    };

    split_inputs {
        glidepoint_split_0: glidepoint_split_0 {
            compatible = "zmk,input-split";
            status = "okay";
            reg = <0>;
        };
    };
};

/* Cirque Glidepoint on SPI using new pinctrl-0 style */
&spi0 {
    status = "okay";

    pinctrl-0 = <&spi0_sck_pin &spi0_mosi_pin &spi0_miso_pin>;
    cs-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;

    glidepoint0: glidepoint@0 {
        compatible = "cirque,glidepoint";
        reg = <0>;
        spi-max-frequency = <1000000>;
        irq-gpios = <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        status = "okay";
    };
};

&gpio0 {
    spi0_sck_pin: spi0_sck_pin {
        gpio-hog;
        gpios = <31 GPIO_ACTIVE_HIGH>;
        input;
    };
    spi0_mosi_pin: spi0_mosi_pin {
        gpio-hog;
        gpios = <29 GPIO_ACTIVE_HIGH>;
        input;
    };
    spi0_miso_pin: spi0_miso_pin {
        gpio-hog;
        gpios = <20 GPIO_ACTIVE_HIGH>;
        input;
    };
};
