if SHIELD_CROSSES_RIGHT

config ZMK_KEYBOARD_NAME
  default "Crosses 36 BLE"

config ZMK_SPLIT_ROLE_CENTRAL
  default y

endif

if SHIELD_CROSSES_LEFT || SHIELD_CROSSES_RIGHT

config ZMK_SPLIT
  default Y

endif
