#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <30 31 32 33 34 35 9 19 29 8 9 18 19 28 29 7 17 27 15 5 25 6 16 26>;
            flavor = "balanced";
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <30 31 32 33 34 35 4 14 24 3 13 23 2 12 22 1 11 21 0 10 20>;
        };
    };

    combos {
        compatible = "zmk,combos";

        s_arr {
            bindings = <&skinny_arrow>;
            key-positions = <13 16>;
        };

        f_arr {
            bindings = <&fat_arrow>;
            key-positions = <14 15>;
        };

        p_ipe {
            bindings = <&pipe>;
            key-positions = <23 26>;
        };

        s_vim {
            bindings = <&save_vim>;
            key-positions = <1 32>;
        };

        caps {
            bindings = <&caps_word>;
            key-positions = <10 19>;
        };

        under {
            bindings = <&kp UNDERSCORE>;
            key-positions = <26 27>;
        };

        min {
            bindings = <&kp MINUS>;
            key-positions = <27 28>;
        };
    };

    macros {
        skinny_arrow: skinny_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GREATER_THAN>;
            label = "SKINNY_ARROW";
        };

        fat_arrow: fat_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GREATER_THAN>;
            label = "FAT_ARROW";
        };

        pipe: pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PIPE &kp GREATER_THAN>;
            label = "PIPE";
        };

        save_vim: save_vim {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp COLON &kp W &kp ENTER>;
            label = "SAVE_VIM";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q            &kp W            &kp F         &kp P              &kp B      &kp J        &kp L               &kp U         &kp Y             &kp SEMICOLON
&hml LEFT_GUI A  &hml LEFT_ALT R  &hml LCTRL S  &hml LEFT_SHIFT T  &kp G      &kp M        &hmr RIGHT_SHIFT N  &hmr RCTRL E  &hmr RIGHT_ALT I  &hmr RIGHT_GUI O
&kp Z            &kp X            &kp C         &kp D              &kp V      &kp K        &kp H               &kp COMMA     &kp DOT           &lt 3 SLASH
                                  &kp N1        &lt 2 ESCAPE       &kp SPACE  &lt 1 ENTER  &kp BACKSPACE       &lt 4 DELETE
            >;
        };

        num {
            bindings = <
&kp LS(STAR)  &kp N7  &kp N8  &kp N9              &kp BSLH      &kp FSLH       &kp LS(LPAR)           &kp LS(RPAR)         &kp PIPE              &trans
&kp MINUS     &kp N4  &kp N5  &hml LEFT_SHIFT N6  &kp LS(PLUS)  &kp LS(PRCNT)  &hmr RIGHT_SHIFT LBRC  &hmr LS(RCTRL) RBRC  &hmr RIGHT_ALT COLON  &hmr RIGHT_GUI SEMICOLON
&kp GRAVE     &kp N1  &kp N2  &kp N3              &kp EQUAL     &kp LBKT       &kp RBKT               &trans               &trans                &trans
                      &trans  &kp N0              &trans        &trans         &trans                 &trans
            >;
        };

        nav {
            bindings = <
&none     &none     &none      &none       &none        &none  &none           &none         &none           &none
&kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT   &none        &none  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
&none     &none     &none      &kp K_COPY  &kp K_PASTE  &none  &kp C_AC_HOME   &kp END       &kp PAGE_DOWN   &kp PAGE_UP
                    &none      &none       &none        &none  &none           &none
            >;
        };

        media {
            bindings = <
&none       &none              &none             &none            &none       &none  &none  &none  &none  &none
&kp C_PREV  &kp C_VOLUME_DOWN  &kp C_PLAY_PAUSE  &kp C_VOLUME_UP  &kp C_NEXT  &none  &none  &none  &none  &none
&none       &none              &none             &none            &none       &none  &none  &none  &none  &none
                               &none             &none            &none       &none  &none  &none
            >;
        };

        func {
            bindings = <
&kp F11  &kp F12  &trans  &trans  &trans   &trans  &trans     &trans     &trans    &trans
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5   &trans  &trans     &trans     &trans    &trans
                  &trans  &trans  &trans   &trans  &trans     &trans
            >;
        };
    };
};
